#Q-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: center;
    justify-content: center;
    background-color: rgb(223, 223, 223);
    border:3px solid black;
    width: 500px;
    margin: auto;
}

.option{
    background-color: rgb(177, 168, 168);
    border:3px solid black;
    padding: 3px;
    margin: 5px;

}


.option:hover{
    background-color: rgb(74, 83, 165);
    border:3px solid black;
    padding: 3px;
    margin: 5px;
    cursor: pointer;
}
.list_ques{
    list-style: none;
}
.active{
    background-color: rgb(74, 83, 165);
    border:3px solid black;
    padding: 3px;
    margin: 5px;
}

.rScreen{
    background-color: rgb(172, 28, 28);
    border:3px solid black;
    width: 1000px;
}
#endGame{
    color: rebeccapurple;
    /* display: none; */
opacity: 0;
}

#next_q{

opacity: 1;   


}